.banner-section {
  height: 550px;
}
.banner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}
.banner-title span {
  color: #4d77ff;
}
.banner-text {
  font-size: 20px;
  margin: 18px 0 25px;
}
.banner-btn {
  background-color: #4d77ff;
  color: white;
  padding: 12px 30px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 8px;
}
.home-customer-reviews-container {
  background-color: #f9f9f9;
  height: 100%;
  padding: 20px;
}
.see-reviews-btn {
  background-color: white;
  color: #4d77ff;
  border: 1px solid #4d77ff;
  padding: 10px 30px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 8px;
  margin: 28px 0 10px;
  transition: 0.3s;
}
.see-reviews-btn:hover {
  background-color: #4d77ff;
  color: white;
  border: 1px solid #4d77ff;
}
/* for mobile devices */
@media screen and (max-width: 688px) {
  .banner-section {
    height: 100%;
  }
  .banner-container {
    text-align: center;
  }
  .banner-title {
    font-size: 42px;
    line-height: 60px;
  }
  .reviews-customer-title {
    font-size: 24px;
  }
}
