.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  font-family: "Lobster", cursive;
  font-size: 28px;
}
.nav-item {
  margin-right: 24px;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 688px) {
  .nav-logo {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
  }
}
